.algwrapper {
  text-align: center;
}

.indivAlg {
  width: 200px;
  color: #004c61;
}

.indivAlg header {
  /* height: 200px; */
}

.indivAlg h1 {
  font-size: 0.8em;
  text-justify: auto;
  margin: 5px;
  height: 90px;
  background-color: #004c61;
}

.indivAlg .info {
  display: flex;
  flex-direction: column;
  justify-content: auto;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.indivAlg .info .writing {
  text-align: justify;
  text-justify: auto;
}

.indivAlg p {
  font-size: 0.5em;
  text-justify: auto;
}

.buttonwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.indivAlg button {
  background-color: #89002e;
  color: white;
  text-align: center;
  border: 0px;
  padding: 5px;
  cursor: pointer;
}

.algorithmWrapper {
  display: flex;
  flex-direction: row;
}

.shift {
  height: 90px;
  width: 100%;
  padding: 5px;
}

.mainwrapper {
  margin: 20px;
}

h1 {
  text-align: left;
}

h2 {
  text-align: left;
}

h3 {
  text-align: left;
}

.abstract {
  max-width: 600px;
  margin-left: 50px;
  font-size: 0.8em;
  text-align: justify;
  text-justify: auto;
}

.main {
  max-width: 800px;
  text-align: justify;
  text-justify: auto;
}

.historicalPermutationAlgorithms {
  float: left;
  text-align: left;
  width: 1600px;
}

.historicalPermutationAlgorithms h1 {
  font-size: 1em;
}

.historicalPermutationAlgorithms h1 {
  font-size: 1.2em;
}
.historicalPermutationAlgorithms h2 {
  font-size: 1.1em;
}
.permutationRow {
  display: flex;
  flex-direction: row;
}
.permutationColumn {
  display: flex;
  flex-direction: column;
}
.params {
  height: 300px;
  font-size: 0.8em;
}
.params h2 {
  font-size: 0.9em;
}

.params p {
  font-size: 0.7em;
}

.allColumns {
  display: flex;
  flex-direction: row;
  width: 200px;
  font-size: 0.7em;
}
.indivElement {
  width: 35px;
  height: 20px;
  vertical-align: middle;
  text-align: center;
  padding: 4px;
  font-size: 10px;
  box-sizing: border-box;
}
.indivcolumns {
  margin: 0px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
.element1 {
  background-color: lightcoral;
}
.element2 {
  background-color: orange;
}
.element3 {
  background-color: yellow;
}
.element4 {
  background-color: yellowgreen;
}
.element5 {
  background-color: lightgreen;
}
.element6 {
  background-color: turquoise;
}

.popup {
  font-size: 8px;
}

.code {
  width: 600px;
  white-space: pre-wrap;
}

.algorithmsParams {
  color: white;
  font-size: 0.9em;
}

.checkFonts {
  font-size: 0.8em;
}
