.timeline {
  width: 100%;
  font-size: 10px;
}

article h1 {
  font-size: 1.5em;
  color: #fffefc;
  padding: 5px 5px 5px 5px;
  max-width: 80%;
  background-color: #004c61;
}

article h2 {
  font-size: 1.5em;
  color: #fffefc;
  padding: 5px 5px 5px 5px;
  background-color: #e3bb00;
}

.timeline .year {
  color: #fffefc;
  background-color: #004c61;
  font-size: 12px;
  font-weight: bold;
  padding: 1px;
}

.timeline strong {
  color: #fffefc;
  background-color: #89002e;
  padding: 1px;
}

p {
  color: #004c61;
}

article a {
  color: #fffefc;
  background-color: #89002e;
  padding: 1px;
  font-weight: bold;
  text-decoration: none;
}
