@import '../../node_modules/react-image-gallery/styles/css/image-gallery.css';

.generalPoems h1 {
  font-size: 1.5em;
  color: #fffefc;
  padding: 5px 5px 5px 5px;
  max-width: 60%;
  background-color: #004c61;
}

.poems h2 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 14px;
}

.poems h3 {
  margin-top: 0px;
  font-size: 12px;
}

.poems p {
  font-size: 11px;
}

.poemsSplit {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.poems {
  width: 48%;
  box-sizing: border-box;
  float: left;
}

.poems button {
  border: 0px;
  color: white;
  padding: 2px;
  cursor: pointer;
}

.poemButton {
  background-color: #89002e;
  margin-right: 2px;
}

.imageButton {
  background-color: #e3bb00;
  margin-right: 2px;
}

.audioButton {
  background-color: #004c61;
  margin-right: 2px;
}

.textFile {
  width: 48%;
  box-sizing: border-box;
  white-space: pre-line;
  float: right;
}

.poemRow {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.poemColumn {
  width: 400px;
  margin-right: 5px;
  font-size: 11px;
}

.stanza {
  margin-bottom: 20px;
}

.poemMenu {
  font-size: 10px;
}

.generalPoems {
  color: #004c61;
}
